In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"./ElectroTech Forecasting Data - ElectroTech Forecasting Data.csv")

In [3]:
data.head()

,Product_ID,Category,Price,Date,Season,Market_Trend_Index,Competitor_Activity_Score,Consumer_Confidence_Index,Product_Specification_1,Product_Specification_2,Sales_Volume
0,1103,Laptop,105.32,2009-01-01,Winter,-1.859160,0.546694,84.680465,Spec_C,Long-Battery-Life,49
1,1436,Tablet,145.55,2009-01-01,Winter,-0.345587,0.940428,42.919288,Spec_C,Lightweight,69
2,1271,Smartphone,97.82,2009-01-01,Winter,-0.384738,0.751155,55.191268,Spec_B,Lightweight,50
3,1107,Laptop,64.00,2009-01-01,Winter,0.716763,0.125939,88.746454,Spec_B,High-Resolution,28
4,1072,Tablet,67.83,2009-01-01,Winter,-0.242074,-0.412932,67.947536,Spec_A,Long-Battery-Life,81

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136193 entries, 0 to 136192
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Product_ID                 136193 non-null  int64
 1   Category                   136193 non-null  object
 2   Price                      136193 non-null  float64
 3   Date                       136193 non-null  object
 4   Season                     136193 non-null  object
 5   Market_Trend_Index         136193 non-null  float64
 6   Competitor_Activity_Score  136193 non-null  float64
 7   Consumer_Confidence_Index  136193 non-null  float64
 8   Product_Specification_1    136193 non-null  object
 9   Product_Specification_2    136193 non-null  object
 10  Sales_Volume               136193 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 11.4+ MB

In [5]:
data.isna().sum()

Product_ID                   0
Category                     0
Price                        0
Date                         0
Season                       0
Market_Trend_Index           0
Competitor_Activity_Score    0
Consumer_Confidence_Index    0
Product_Specification_1      0
Product_Specification_2      0
Sales_Volume                 0
dtype: int64

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.describe()

,Product_ID,Price,Market_Trend_Index,Competitor_Activity_Score,Consumer_Confidence_Index,Sales_Volume
count,136193.000000,136193.000000,136193.000000,136193.000000,136193.000000,136193.000000
mean,1347.703384,106.812513,-0.000277,-0.000656,70.013109,122.305140
std,200.341518,36.419229,1.009105,1.001551,14.733722,54.320849
min,1001.000000,40.510000,-4.067055,-4.181590,40.044830,6.000000
25%,1174.000000,75.560000,-0.683015,-0.676466,57.521063,81.000000
50%,1348.000000,104.710000,0.001093,0.000555,70.022715,119.000000
75%,1522.000000,138.310000,0.680506,0.674953,82.569582,161.000000
max,1694.000000,181.800000,4.728391,4.661979,99.926291,306.000000

Here I can see that it will be necessary to normalize the Market_Trend_Index and the Competitor_Activity_Score because of the range of values

In [12]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

x = data[['Competitor_Activity_Score', 'Consumer_Confidence_Index']]
x_scaled = scaler.fit_transform(x)

# drop old columns
data = data.drop(columns=['Competitor_Activity_Score', 'Consumer_Confidence_Index'])

# add scaled columns back with proper names
scaled_df = pd.DataFrame(
    x_scaled,
    columns=['Competitor_Activity_Score_scaled', 'Consumer_Confidence_Index_scaled'],
    index=data.index
)

data = pd.concat([data, scaled_df], axis=1)

In [8]:
data['Date'] = pd.to_datetime(data['Date'], errors="coerce")

In [13]:
data.head()

,Product_ID,Category,Price,Date,Season,Market_Trend_Index,Product_Specification_1,Product_Specification_2,Sales_Volume,Competitor_Activity_Score_scaled,Consumer_Confidence_Index_scaled
0,1103,Laptop,105.32,2009-01-01,Winter,-1.859160,Spec_C,Long-Battery-Life,49,0.534658,0.745400
1,1436,Tablet,145.55,2009-01-01,Winter,-0.345587,Spec_C,Lightweight,69,0.579180,0.048002
2,1271,Smartphone,97.82,2009-01-01,Winter,-0.384738,Spec_B,Lightweight,50,0.557778,0.252940
3,1107,Laptop,64.00,2009-01-01,Winter,0.716763,Spec_B,High-Resolution,28,0.487080,0.813301
4,1072,Tablet,67.83,2009-01-01,Winter,-0.242074,Spec_A,Long-Battery-Life,81,0.426147,0.465966